/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(0,0,0,.05)

}
.container {
  max-width: 1000px;
  margin: 16px auto;
}
:root {
  --pink: #e83e8c;
}
